* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* css to copy  */

.alert {
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.alert-content {
  display: flex;
  align-items: center;
}

.alert-icon {
  margin-right: 10px;
}

.alert-message {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.alert-message p {
  font-size: 20px;
}

.btn-close {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  position: relative;
  right: 10px;
}

.btn-close:focus {
  outline: none;
}

.reload {
  display: none;
}

.reload.active {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff38;
  z-index: 10000;
  backdrop-filter: blur(2px);
}

.reload.active .circle-box {
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px dashed blue;
  border-right: 5px dashed blue;
  animation: load 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}

table {
  width: -webkit-fill-available;
}

/* till here copy  */

/* Styling for the scrollbar track (the part the thumb slides along) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

/* Styling for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 10px;
}

/* Change the thumb color when it's hovered over or active */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color when hovered */
}

/* Styling for the scrollbar itself */
::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  height: 5px; /* width of the entire scrollbar */
}

.nav-bar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 10;
}

body {
  background: #ddd;
}

.toogle-sidebar {
  width: 50px;
  height: 50px;
  background: #0000ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #0000ff;
  transition: all 0.3s;
}

.toogle-sidebar:hover {
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px #0000ff;
}

.options {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
  position: relative;
}

.option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
  background: #0000ff;
  border: 2px solid #0000ff;
  position: relative;
}

.icon-text {
  position: absolute;
  margin-top: 20px;
  right: -17px;
  padding: 5px 10px;
  background: #3f3f3f;
  border-radius: 5px;
  display: none;
}

.option:hover {
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px #0000ff;
}

.option:hover .icon-text {
  display: block;
}

.notify-count {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(255, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #fff;
}

.notifications {
  position: absolute;
  top: 40px;
  right: -30px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #9d9d9d;
  max-width: 320px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  max-height: 500px;
  overflow-y: scroll;
  display: none;
  border: 2px solid #676767;
}

.notifications.active {
  display: flex;
  animation: 0.4s pop-up ease-in forwards;
}

@keyframes pop-up {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 20px;
  }
}

.notification-btn.active {
  animation: 0.3s bell ease-in forwards;
  transform: rotate(0);
}

@keyframes bell {
  0% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  90% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.notification-box {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  max-height: 100px;
  height: 70px;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  padding: 5px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ececec;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile img {
  width: 100%;
  height: 100%;
}

.notification-details {
  position: relative;
  margin-left: 60px;
}

.notification-user-name {
  color: #3e3e3e;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 3px;
}

.notification-message {
  font-size: 14px;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowed content */
  text-overflow: ellipsis; /* Displays an ellipsis (...) to represent overflow */
  max-width: 220px;
  color: #3e3e3e;
  min-width: 200px;
}

.add-notification {
  position: absolute;
  left: -70px;
  top: 0px;
}

.add {
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: #00aaff;
  color: #fff;
  text-transform: capitalize;
}

@keyframes move-top {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

li {
  list-style: none;
}

.sidebar {
  position: fixed;
  top: 60px;
  height: calc(100% - 50px);
  width: 60px;
  background: #fff;
  padding: 10px;
  z-index: 10;
  overflow-x: hidden;
  transition: all 0.5s;
}

.sidebar.active {
  width: 160px;
}

.side-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  position: absolute;
}

.menu-option {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}

.menu-name {
  width: 100px;
  position: absolute;
  margin-left: 40px;
}

.icon {
  width: 30px;
  height: 30px;
  background: #707070;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  color: #ffffff;
  position: absolute;
}

.menu-option:hover,
.menu-option.active {
  color: #0000ff;
}

.menu-option:hover .icon,
.menu-option.active .icon {
  background: #ffffff;
  color: #0000ff;
  border: 2px solid #0000ff;
}

.main {
  width: calc(100vw - 180px);
  min-height: calc(100vh - 60px);
  position: relative;
  top: 60px;
  left: 160px;
  padding: 10px;
  z-index: 5;
  transition: all 0.5s;
}

.main.active {
  width: calc(100vw - 80px);
  left: 60px;
}

.details-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
}

.date-time-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-role {
  color: #3f3f3f;
  font-size: 20px;
}

.tag {
  padding: 1px 6px;
  background: green;
  color: #ffffff;
  border-radius: 3px;
  letter-spacing: 2px;
}

.frame {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #ffffff;
  min-height: 77vh;
  border-radius: 5px;
}

.inner-frame {
  width: 100%;
  height: 100%;
}
.view_profile {
  border: 0;
  background-color: #00000000;
}
.notification-model {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  /* transition: .5s; */
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0000000e;
  backdrop-filter: blur(3px);
  z-index: 1000;
}
.inner-model {
  width: 90%;
  min-height: 90%;
  max-height: calc(100%-10px);
  min-width: 300px;
  max-width: calc(100% - 10px);
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  border: 2px solid #3f3f3f;
  overflow: hidden;
}

.model-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 0px;
  position: relative;
}

.model-close {
  background: transparent;
  border: none;
  font-size: 22px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  top: 15px;
  right: 15px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  color: #0000ff;
  transition: all 0.5s;
}

.model-close:hover {
  background: #0000ff;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px #0000ff;
}

.model-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.model-profile {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 10px;
  background-image: url(../img/cover.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.user-image {
  width: 130px;
  height: 130px;
  /* background: #fff; */
  border-radius: 50%;
  border: 2px solid #3f3f3f;
  box-shadow: 0px 0px 10px;
  overflow: hidden;
}

.user-image img {
  width: 100%;
  height: 100%;
}

.user-name {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
  text-shadow: 2px 2px 3px #000;
}

.user-details {
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.profile-right {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  max-height: 100%;
  position: relative;
  /* align-items: center; */
}

.personal-details {
  min-width: 280px;
  padding: 10px;
  height: 330px;
  border: 2px solid #3f3f3f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: -webkit-fill-available;
}

.detail-head {
  font-size: 20px;
  color: #3f3f3f;
  padding: 5px 0;
  border-bottom: 1px solid;
}

.model-message {
  padding: 10px;
  border: 2px dashed #3f3f3f;
  border-radius: 5px;
  min-width: 280px;
  overflow-y: scroll;
  width: -webkit-fill-available;
}

.message-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f0f0;
  border-radius: 4px;
  padding: 10px 15px;
  font-weight: 600;
  color: #0000ff;
}

.message-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-body {
  padding: 10px;
  margin-top: 10px;
  white-space: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
}

.model-footer {
  width: 100%;
  padding: 10px;
  height: 43px;
  /* background: #3f3f3f; */
  margin-top: -2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.model-btn {
  padding: 10px 15px;
  border-radius: 3px;
  background: #3f3f3f;
  color: #fff;
  cursor: pointer;
}

.personal-details .fas {
  color: #0000ff;
}

@media screen and (max-width: 735px) {
  .profile-right {
    flex-wrap: wrap;
  }

  .personal-details {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .print-btn,
  .download-btn {
    display: none;
  }
}

.upload-model,
.delete-model,
.edit-model {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}

.inner-upload,
.inner-delete-model {
  min-width: 500px;
  max-width: calc(100% - 10px);
  margin-top: 50px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #3e3e3e;
  border: 2px solid #a7a7a7;
  min-height: 250px;
  max-height: calc(100% - 100px);
  position: relative;
}

.input-field {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  min-height: 40px;
}

.label {
  padding: 15px 10px;
  min-width: 130px;
  border-radius: 5px;
  border: 2px solid #c5c5c5;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.label:hover {
  box-shadow: 0px 0px 10px #707070;
}

.label.active {
  border: 2px solid green;
  box-shadow: 0px 0px 5px green;
}

input[type="radio"] {
  accent-color: green;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.drag-drop-area:hover {
  border-color: #aaa;
}

/* Optional: Styling for when a file is being dragged over the area */
.drag-over {
  border-color: #000;
}

#cancel-btn,
#upload-btn {
  margin-top: 15px;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  min-width: 100px;
}

#cancel-btn {
  background: orange;
}

#upload-btn {
  background: green;
  color: #fff;
}

/* delete user model */

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.delete-table input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: green;
}

.info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.delete-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.cancel {
  background: orange;
}

.confirm,
.delete-btns.submit {
  background: red;
  color: #fff;
}

.fetch {
  background: orange;
}

.change {
  background: green;
  color: #ffffff;
  float: right;
}

.display-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.single-form {
  flex-direction: column;
  align-items: center;
}

#empid,
#editType,
#editInput {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #676767;
  outline: none;
}

option {
  padding: 10px;
}

#empid:hover {
  box-shadow: 0px 0px 5px #3e3e3e;
}

#empid:focus {
  box-shadow: 0px 0px 5px #3e3e3e;
  border: 2px dashed #676767;
}

.after-fetch {
  margin-top: 20px;
  border-top: 2px solid #d6d6d6;
  width: 100%;
}

.title {
  font-size: 22px;
  font-family: sans-serif;
  color: #555;
  margin-bottom: 10px;
}

.edit-requests td {
  padding: 5px;
}

.request-btns {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.confirm-request {
  background: #008000;
  color: #ffffff;
}

.cancel-request {
  background: #ff0000;
  color: #ffffff;
}

.edit-model .inner-delete-model {
  overflow-x: scroll;
}

.info-body {
  max-height: 460px;
  overflow-y: scroll;
  position: relative;
}
tr.Pending {
  background: lightgoldenrodyellow !important;
}
tr.Approved {
  background: lightgreen !important;
}

tr.Declined {
  background: lightcoral !important;
}

.wrongShift {
  display: inline-table;
}
.side_bar_a {
  color: black;
}
.approved {
  background-color: green !important;
  transform: scale(1.1);
}
.declined {
  background-color: red !important;
  transform: scale(1.1);
}
.punchOptionsDiv {
  display: flex;
  flex-direction: column;
}
.punchOptions {
  padding: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  color: #008000;
  font-family: sans-serif;
  font-weight: 900;
}

.logo img {
  max-height: 50px;
}
.unfreeze-btn{
  cursor: pointer;
}